# BACKEND API URL RELATED
NEXT_APP_API_BASE_URL='https://backend.merouni.com'
NEXT_APP_MEDIA_BASE_URL='https://uploads.merouni.com'
NEXT_APP_API_VERSION_URL_PREFIX='/api/v1'


# CK EDITOR
NEXT_APP_CK_EDITOR_KEY="eyJhbGciOiJFUzI1NiJ9.eyJleHAiOjE3NDk1MTM1OTksImp0aSI6IjY2ODBlMGQ1LWVkZWUtNGNkOS1hZDJkLTM3Mjc1YTBjZjlmOSIsInVzYWdlRW5kcG9pbnQiOiJodHRwczovL3Byb3h5LWV2ZW50LmNrZWRpdG9yLmNvbSIsImRpc3RyaWJ1dGlvbkNoYW5uZWwiOlsiY2xvdWQiLCJkcnVwYWwiLCJzaCJdLCJ3aGl0ZUxhYmVsIjp0cnVlLCJsaWNlbnNlVHlwZSI6InRyaWFsIiwiZmVhdHVyZXMiOlsiKiJdLCJ2YyI6ImExNzNhMDg2In0.7YtDj2lOCsOhNQvXurujFuf-_bsXKltX6yfHPbz_4WgSIbNdckVv9pa7TgOG34tPrDr6VDUieRsiiQ2XQUbc3A"
